flask
requests
numpy
pandas
Django
streamlit
streamlit-faker 
streamlit-keyup
streamlit-timeline
spacy
postgres
streamlit_pills
faker
streamlit-searchbox
wikipedia
autocorrect
contextualSpellCheck
BeautifulSoup
requests

spacy>=3.0.0,<4.0.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
beautifulsoup4