<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <link href = "static/style.css" rel = "stylesheet" type = "text/css">

</head>
<body>
    <div class="header">
        <nav>              
            <u1 class = "nav-links">
                <li><b><a href = "/">HOME</a></b></li>
                <li><b><a href = "/team">OUR TEAM</a></b></li>
            </u1>  
        </nav>
    </div>
   
    <div class="about-content">
        <pre>
        
        </pre>
        <h1>About Revelio</h1>
        <pre>

        </pre>
        <p>Welcome to Revelio, The extra-ordinary platform that empowers you with reliable and comprehensive information.</p>
        <pre> </pre>
        <p>Here, you can search for topics that will provide you a timeline of how the news unfolded over the time.</p>
        <pre> 

        </pre>
        <p>Want to search for a series of events? Just Revelio!</p>
        <pre> 

        </pre>

    </div>
   

</body>
</html>
